<ion-menu [content]="NOVO">
    <ion-header>
        
        <ion-toolbar  color = "dark">
            <ion-title>Menu</ion-title>
        </ion-toolbar>

    </ion-header>

    <ion-content>  

        <ion-card>
            <ion-card-content>
                <ion-item>
                    <ion-avatar item-left  style="zoom:1.5;">
                        <img [src]="dados.foto">
                    </ion-avatar>
                    <h2>{{dados.nome}}</h2>
                    <button ion-button menuClose color="danger" (click)="Deslogar()">
                        Deslogar
                    </button>
                </ion-item>

                <button ion-button full *ngIf= "dados.nome == 'Sem nome'" color="light" (click)="Recarregar()">
                    Mostrar dados
                </button>
                    

            </ion-card-content>
        </ion-card>

        <ion-list>
            <button menuClose ion-item *ngFor="let pagina of MenuPaginas" (click)="AbrirPagina(pagina)">
                {{pagina.Titulo}}
            </button>
        </ion-list>

    </ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #NOVO swipeBackEnabled="false"></ion-nav>